  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
        <!-- Blank Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'/columns'">
        <i class="bi bi-layout-text-window-reverse"></i>
        <span>Table des champs</span>
      </a>
    </li><!-- End Blank Page Nav -->

  <!-- Blank Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="'documentations/get/663ba53ee78198184252047a'">
        <i class="bi bi-journal-text"></i>
        <span>Politique de confidentialité</span>
      </a>
    </li><!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->
